//output:list.html
doctype html
html
  head
    title Listo
    link(href='Pictures/favicon.png' rel='icon' type='image/png' sizes='16x16')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(href='list.css' rel='stylesheet' type='text/css')
    link(rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css")
 body
  .header
    .logo
      img(src='Pictures/logo.png', class='logo-img')
      span Listo
  .add
    form
      input(type='text', class='list-name', placeholder='Name of list...')
      input(type='button', value='Save')
    .list
      span(class='list-name-div')
      .delete-img
        img(src='pictures/delete.png')
      .list-item-container
        .list-item-input
          input(type='text', class='list-item', placeholder='Add list item...')
          i(class="ion-checkmark" aria-hidden="true")
          i(class="ion-close" aria-hidden="true")
      .add-list Add list item...
      
      
      
      
  script(src='../jquery-3.1.0 MIN/jquery-3.1.0.min.js')
  script(src='list.js')
