@import 'https://fonts.googleapis.com/css?family=Montserrat:400,700';
@import 'https://fonts.googleapis.com/css?family=Pacifico';
@import 'https://fonts.googleapis.com/css?family=Work+Sans';
body {
  background-color: #0079bf;
  height: 100vh;
  margin: 0;
  word-wrap: break-word;
}

.header {
  width: 100vw;
  height: 40px;
  background-color: #026AA7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo:hover {
  cursor: pointer;
}

.logo .logo-img {
  width: 23px;
  height: 23px;
  margin-right: 2px;
  margin-bottom: -3.5px;
}

.logo span {
  color: white;
  font-size: 22px;
  text-transform: capitalize;
  font-family: 'Pacifico', cursive;
}

.add {
  display: inline-block;
  margin-top: 30px;
  margin-left: 20px;
  position: absolute;
}

.list-name {
  border: none;
  width: 230px;
  height: 45px;
  background-color: #026AA7;
  border-radius: 3px;
  padding: 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  color: white;
  box-sizing: border-box;
  display: block;
  transition-duration: 0.2s;
}

.list-name:hover {
  background-color: #066196;
  cursor: pointer;
}

.list-name::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
}

.list-name:focus {
  background-color: #066196;
  outline: none;
}

.list-name:focus::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.55);
}

input[type='button'] {
  width: 70px;
  height: 35px;
  display: block;
  border: none;
  margin-top: 8px;
  border-radius: 3px;
  background-color: #4db947;
  color: rgba(255, 255, 255, 0.7);
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 14px;
  transition-duration: 0.2s;
  opacity: 0;
  pointer-events: none;
}

input[type='button']:hover {
  background-color: #42a73d;
  cursor: pointer;
}

input[type='button']:focus {
  outline: none;
}

.list {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 280px;
  background-color: #E2E4E6;
  border-radius: 3px;
  font-family: 'Montserrat', sans-serif;
  opacity: 0;
  pointer-events: none;
  padding: 10px;
  transition-duration: 200ms;
}

.list .list-name-div {
  font-size: 13px;
  margin-left: 5px;
  text-transform: capitalize;
  margin-right: 30px;
  display: block;
}

.delete-img {
  position: absolute;
  top: 10px;
  right: 8px;
  width: 20px;
  height: 20px;
  border-radius: 3px;
  display: inline-block;
  transition-duration: 0.2s;
}

.delete-img:hover {
  transform: scale(1.4);
  box-sizing: border-box;
  cursor: pointer;
}

.delete-img img {
  width: 17px;
  height: 17px;
}

.list-item {
  width: 100%;
  height: 35px;
  padding: 7px;
  box-sizing: border-box;
  box-shadow: 0px 3px 4px -3px rgba(77, 77, 77, 0.35);
  background-color: white;
  border-radius: 3px;
  outline: none;
  border: none;
  margin-top: 20px;
  font-size: 13px;
  font-family: 'Work Sans', sans-serif;
}

.list-item:hover {
  cursor: pointer;
  background-color: #f0f0f0;
}

.list-item::-webkit-input-placeholder {
  color: gray;
  font-family: 'Work Sans', sans-serif;
}

.list-item-container {
  position: relative;
}

.ion-checkmark, .ion-close {
  width: 25px;
  margin-top: 10px;
  opacity: 0;
  display: inline-block;
  pointer-events: none;
  height: 0px;
  margin-left: 5px;
}

.ion-checkmark:hover, .ion-close:hover {
  cursor: pointer;
  color: gray;
}

.add-list {
  opacity: 0;
  pointer-events: none;
  font-size: 14px;
  display: block;
  box-sizing: border-box;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px;
  color: gray;
  height: 0px;
  font-family: 'Work Sans', sans-serif;
  background-color: #E2E4E6;
  text-decoration: underline;
}

.add-list:hover {
  background-color: #f0f0f0;
  cursor: pointer;
  text-decoration: underline;
}

li:nth-child(1) {
  font-family: 'Work Sans', sans-serif;
  font-size: 13px;
  list-style-type: none;
  margin-top: 20px;
  padding: 10px;
  box-shadow: 0px 3px 4px -3px rgba(77, 77, 77, 0.35);
  background-color: white;
  border-radius: 2px;
}

li {
  font-family: 'Work Sans', sans-serif;
  font-size: 13px;
  list-style-type: none;
  margin-top: 10px;
  padding: 10px;
  box-shadow: 0px 3px 4px -3px rgba(77, 77, 77, 0.35);
  background-color: white;
  border-radius: 2px;
  cursor: default;
}

li i {
  opacity: 1;
  pointer-events: all;
}

.ion-compose {
  margin-right: 7px;
}

.ion-compose:hover {
  cursor: pointer;
}

.ion-arrow-up-b {
  margin-right: 7px;
  color: gray;
}

.ion-arrow-up-b:hover {
  cursor: pointer;
}

@media only screen and (max-width: 375px) {
  html, body {
    max-width: 100%;
    max-height: 100%;
  }
}
